/* Elements */
body {
  font-size: 16pt;
  margin-left: auto;
  margin-right: auto;
}

br {
  content: ' ';
  display: block;
  line-height: 22px;
  margin-top: 5px;
}

hr {
  width: 80%;
}

/* Classes */
.container {
  overflow-wrap: break-word;
}

.header {
  font-size: 40pt;
  text-align: center;
}

.info {
  padding-top: 1%;
}

.linkBtn {
  padding: 5% 2% 2%;
  text-align: center;
}

.profilePic {
  text-align: center;
}

.subheading {
  font-size: 11pt;
}

/* IDs */
#profilePic {
  margin: auto;
  padding-top: 5%;
}

#root {
  background-color: #F1F1F1;
  padding: 1%;
  margin: 15% auto;
  width: 85%;
}

/* Mobile Friendliness */
@media screen and (max-width: 990px) {
  #profilePic {
    height: 225px;
    width: 225px;
  }  
}